_<div class="card">
  <div class="card-header">
    <%= image_tag 'http://lorempixel.com/300/200/food' %>
  </div>
  <div class="card-body">
    <h2><%= cocktail.name %></h2>
    <p><%= link_to 'Show', cocktail, class: "btn btn-primary"%></p>
    <p><%= link_to 'Edit', edit_cocktail_path(cocktail), class: "btn btn-primary" %></p>
    <p><%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></p>
  </div>
</div>
